@page "/pesquisa"
@inherits desafio.Components.Pages.PesquisaComponent;

<PageTitle>Pesquisar por endereço </PageTitle>

<div class="d-flex flex-column">
    <h1>Pesquisar por endereço: </h1>
    
    <BlazoredTypeahead 
                SearchMethod="ProcuraCidades"
                @bind-Value="CidadeSelecionada">
        <SelectedTemplate>
            @context.UF
        </SelectedTemplate>
        <ResultTemplate>
            @context.UF, @context.Municipio, @context.CodigoIBGE
        </ResultTemplate>
    </BlazoredTypeahead>
</div>

<h2>Resultados:</h2>

@foreach(var cidade in cidades)
{
    <p>@cidade.Municipio</p>
}

@if( CidadeSelecionada != null)
{
    <p>@CidadeSelecionada.Municipio</p>
}